<form #form="ngForm" novalidate>
  <div class="modal-header">
    <h3> {{'StudyProgramOptions.message' |translate}} </h3>
    <button type="button" class="close pull-right" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <ng-container *ngIf="!errorMessage; else templateFail">
    <div class="modal-body">
      <div *ngIf="programGroups && programGroups.length">
        <div class="card" *ngFor="let group of programGroups; let i = index">
          <a class="card-header d-flex align-items-center justify-content-between text-decoration-none"
             data-toggle="collapse"
             data-target="#collapse"
             [attr.aria-expanded]="!collapsedStatus[group.id]"
             href="javascript:void(0)"
             aria-controls="collapse"
             (click)="toggleCollapse(group.id)">
            <span> {{ group.name }} <br>
              <small [translate]="'StudyProgramOptions.MaximumNumberOfChoices'"
               [translateParams]="{maximumChoices: group.maxAllowedGroups, selected: group.selectedCount || 0}">
              </small>
            </span>
            <i class="collapsible ml-3 pt-1 fa"
               [ngClass]=" {'fa-chevron-down' : collapsedStatus[group.id], 'fa-chevron-up' : !collapsedStatus[group.id] }"></i>
          </a>
          <div class="card-body p-0">
            <div
              id="collapse"
              class="m-4"
              [ngClass]="{
          collapse: collapsedStatus[group.id]
        }">
              <div *ngFor="let subgroup of group.groups; index as i">
                <!-- [checked]="isChecked(group.id, subgroup.id)" -->
                <div class="custom-control custom-checkbox mt-2 mb-3">
                  <input
                    type="checkbox"
                    class="custom-control-input"
                    id="subgroup-{{ subgroup.id }}"
                    name="checkbox-{{ subgroup.id }}"
                    (change)="onChange(group, subgroup)"
                    [disabled]="group.selectedCount &&  group.maxAllowedGroups > 1 && group.selectedCount === group.maxAllowedGroups && !subgroup.selected"
                    [(ngModel)]="subgroup.selected"
                  />
                  <label for="subgroup-{{ subgroup.id }}" class="pl-2 custom-control-label font-weight-normal">
                    {{ subgroup.name }}
                    <div class="text-gray-300"> {{ subgroup.description }} </div>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <!-- Template for the error modal. Used when the request fails -->
  <ng-template #templateFail>
    <div class="modal-body text-center pb-0 pt-0">
      <div>
        <img src="assets\img\register_general_error_136x136.png">
      </div>
      <div class="text-center  mt-2">{{'StudyProgramOptions.FailedMessage' |translate}}</div>
      <h5 class="modal-title text-center mt-2">{{errorMessage}}</h5>
    </div>
  </ng-template>
  <div class="modal-footer">
    <div class="col-12">
      <div class="pull-right">
        <button class="btn btn-gray-100 mr-auto" (click)="closeModal()">
          {{ 'SemesterRegistration.Cancel' | translate }}
        </button>
        <button *ngIf="!errorMessage" [disabled]="!hasSelected" class="btn btn-indigo mx-2" (click)="submit()">
          {{ 'RegistrationsButtons.Submit' | translate }}
        </button>
      </div>
    </div>
  </div>
</form>
